<h1>Here are {{character?.name}}</h1>
<h4>Character id: {{character?.id}}</h4>
<h2>Comics:</h2>
<ul>
  <li *ngFor="let comic of characterComics">
    <div *ngIf="comic">
      <h3> {{comic.title}} </h3>
      <img *ngIf="comic.thumbnail" [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" width="100">
      <p>
          <span> {{comic.description}} </span>
      </p>
    </div>
  </li>
</ul>
<h2>Events:</h2>
<ul>
  <li *ngFor="let event of characterEvents">
    <div *ngIf="event">
      <h3> {{event.title}} </h3>
      <img *ngIf="event.thumbnail" [src]="event.thumbnail.path + '.' + event.thumbnail.extension" width="100">
      <p>
          <span> {{event.description}} </span>
      </p>
    </div>
  </li>
</ul>
<h2>Series:</h2>
<ul>
  <li *ngFor="let _series of characterSeries">
    <div *ngIf="_series">
      <h3> {{_series.title}} </h3>
      <img *ngIf="_series.thumbnail" [src]="_series.thumbnail.path + '.' + _series.thumbnail.extension" width="100">
      <p> {{_series.rating}} </p>
      <p>
          <span> {{_series.description}} </span>
      </p>
      <p>
          <span> {{_series.startYear}} </span>
          <span> {{_series.endYear}} </span>
      </p>
    </div>
  </li>
</ul>
<h2>Stories:</h2>
<ul>
  <li *ngFor="let story of characterStories">
    <div *ngIf="story">
      <h3> {{story.title}} </h3>
      <img *ngIf="story.thumbnail" [src]="story.thumbnail.path + '.' + story.thumbnail.extension" width="100">
      <p>{{story.type}}</p>
      <p>
          <span> {{story.description}} </span>
      </p>
    </div>
  </li>
</ul>
